<div class="container">
<h1 class="title">   
                                                                                         




Juice Details




</h1>
  <p class = "cocktail">
    <strong>Name:</strong>
    <%= @cocktail.name %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  </p>


  <ul class="list-group">

  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= "Dose: "%>
      <%= dose.description %>    
    </li>
  <% end %>
  </ul>

  <%= link_to 'Back', cocktails_path %> |
  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
</div>